In [3]:
import numpy as np
a=np.arange(15).reshape(3,5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [13]:
l=([[0,1,2,3,4],[5,6,7,8,9],[10,11,12,13,14]])

In [14]:
l

[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]

In [15]:
a.shape

(3, 5)

In [16]:
l.shape

AttributeError: 'list' object has no attribute 'shape'

## strings

In [26]:
for me in "hello":
    print(me)

h
e
l
l
o

In [28]:
start=1
limit=11
step=2
for num in range(start,limit,step):
    print(num)

1
3
5
7
9

In [30]:
def triangle(rows):
    '''
    Objective:prints a triangle of * with given number of rows
    Input parameter:No. of rows
    Return value:None
    '''
    
    for i in range(1,rows+1):
        print('*' * i)
        
def main():
    '''
    Objective: to input no. of rows
    input parameter : None
    Return Value:None
    '''
    
    rows=int(input('Enter the no. of rows'))
    triangle(rows)
    
if __name__=='__main__':
    main()

Enter the no. of rows4
*
**
***
****

In [32]:
def factorial(num):
    if(num==0):
        return 1
    return factorial(num-1)*num

def main():
    num=int(input('Enter the no. to calculate factorial'))
    print(factorial(num))

if __name__=='__main__':
    main()

Enter the no. to calculate factorial5
120

In [33]:
count,n=1,5
while count<n+1:
    print(count)
    count+=1

1
2
3
4
5

In [35]:
def sumOfDigits(num):
    if(num/10==0):
        return num
    return num%10 + sumOfDigits(num//10)

def main():
    num=int(input('No. whose sum of digits to be calculated'))
    print(sumOfDigits(num))
    
if __name__=='__main__':
    main()

No. whose sum of digits to be calculated43
7

In [37]:
def max2(num1,num2):
    return max(num1,num2)

def max3(num1,num2,num3):
    return max(max(num1,num2),num3)

def main():
    n1=int(input('Enter Number'))
    n2=int(input('Enter Number'))
    n3=int(input('Enter Number'))
    print(max3(n1,n2,n3))
    
if __name__=='__main__':
    main()

Enter Number54
Enter Number342
Enter Number34532
34532

In [43]:
import math
def isPrime(num):
    if num==1:
        return False
    limit=int(round(math.sqrt(num)))
    for i in range(2,limit+1):
        if num%i==0:
            return False
    return True

def main():
    num=int(input('Number to check for prime'))
    print(isPrime(num))
    
if __name__=='__main__':
    main()

Number to check for prime346653452535756236463565476588697858763765436243564673
False

In [44]:
vowels='AEIOUaeiou'
vowelCount=0
for i in vowels:
    vowelCount+='idvbinvqwlindijjesdilnv'.count(i)
print(vowelCount)

6

In [45]:
line='vnjianvpasndpvn vdn /Kd]wawk,poiqwjjfim/ojfO3O0R3UJASC,pmzidjMjp'
print('first index of occurence:',line.find('asndpvn vdn /Kd]'))

first index of occurence: 8

In [47]:
line.capitalize()

'Vnjianvpasndpvn vdn /kd]wawk,poiqwjjfim/ojfo3o0r3ujasc,pmzidjmjp'

In [49]:
line.title()

'Vnjianvpasndpvn Vdn /Kd]Wawk,Poiqwjjfim/Ojfo3O0R3Ujasc,Pmzidjmjp'

In [50]:
line.swapcase()

'VNJIANVPASNDPVN VDN /kD]WAWK,POIQWJJFIM/OJFo3o0r3ujasc,PMZIDJmJP'

In [51]:
line=line.swapcase()

In [52]:
line

'VNJIANVPASNDPVN VDN /kD]WAWK,POIQWJJFIM/OJFo3o0r3ujasc,PMZIDJmJP'

In [56]:
line.replace('VNJIANVPASNDPVN VDN /kD]WAWK,POIQWJJFIM/OJFo3o0r3ujasc,PMZIDJmJP','hi')

'hi how are you?'

In [66]:
line='hi'
line2=line+' How are you?'

In [67]:
line2

'hi How are you?'

In [68]:
line2.islower()

False

In [69]:
line2.isupper()

False

In [77]:
new = 'Hi my name is Aditya Singla'
new.split(' ')

['Hi', 'my', 'name', 'is', 'Aditya', 'Singla']

In [78]:
new=new.split(' ')

In [79]:
new

['Hi', 'my', 'name', 'is', 'Aditya', 'Singla']

In [80]:
new=' '.join(new)

In [81]:
new.split(',')

['Hi my name is Aditya Singla']

In [82]:
new

'Hi my name is Aditya Singla'

In [83]:
def reverse(str1):
    reverseStr=''
    for i in range(len(str1)):
        reverseStr=str1[i]+reverseStr
    return reverseStr

def main():
    myString=input('Enter the string to be reversed')
    reverseStr=reverse(myString)
    print('The reverse of string is:'+reverseStr)
    
if __name__=='__main__':
    main()

Enter the string to be reversedsdfawq2342ASFDA
The reverse of string is:ADFSA2432qwafds

In [84]:
subjects=['Hindi','English','Math','History']

In [85]:
temporary=subjects

In [87]:
temporary[0]='Sanskrit'

In [88]:
print(temporary)
print(subjects)

['Sanskrit', 'English', 'Math', 'History']
['Sanskrit', 'English', 'Math', 'History']

In [92]:
subjectCodes=[['Sanskrit',43],['English',85],['Math',65],['History',36]]
print(subjectCodes[1][0],subjectCodes[1][1])

English 85

In [93]:
subjectCodes[1]

['English', 85]

In [94]:
list1=['red','green']
list2=[10,20,30]

In [95]:
list1*2

['red', 'green', 'red', 'green']

In [96]:
list1

['red', 'green']

In [97]:
list2*2

[10, 20, 30, 10, 20, 30]

In [98]:
list1=list1+['Blue']

In [99]:
list1

['red', 'green', 'Blue']

In [101]:
len(list1)

3

In [102]:
list2[-1]

30

In [103]:
list2[0:2]

[10, 20]

In [105]:
list2[0:3:2]

[10, 30]

In [106]:
min(list2)

10

In [107]:
min(list1)

'Blue'

In [108]:
sum(list2)

60

In [109]:
40 in list2

False

In [111]:
students=['Ram','Shyam','Gita','Sita']
for name in students:
    print(name)

Ram
Shyam
Gita
Sita

vowels='aeiou'
list(vowels)

In [115]:
def fib(n):
    if n<=0:
        return None
    if n==1:
        return [1]
    if n==2:
        return [1,1]
    else:
        resList=[]
        a,b=1,1
        resList.append(a)
        resList.append(b)
        count=3
        while count<=n:
            c=a+b
            resList.append(c)
            a=b
            b=c
            count+=1
        return resList
    
def main():
    n=int(input('Enter the number to which fibonacci required:'))
    print(fib(n))

if __name__=='__main__':
    main()

Enter the number to which fibonacci required:5
[1, 1, 2, 3, 5]

In [119]:
def wordCount(str1):
    words=str1.split(' ')
    count=len(words)
    return count

def main():
    string = input('Enter the string')
    numWords=wordCount(string)
    print('Number of Words:',numWords)
    
if __name__ == '__main__':
    main()

Enter the stringsdjisjdvn asv aspdnv pas v avs
Number of Words: 6

In [123]:
def cumulativeSum(list1):
    if(len(list1)==0):return []
    cumList=[list1[0]]
    nextElement=list1[0]
    for i in range(1,len(list1)):
        nextElement+=list1[i]
        cumList.append(nextElement)
    return cumList

def main():
    myList=eval(input('Enter the list='))
    result=cumulativeSum(myList)
    print('List with cumulative sum::',result)
    
if __name__=='__main__':
    main()

Enter the list=[3,4,5,6,7]
List with cumulative sum:: [3, 7, 12, 18, 25]

# Tuples and Dictionaries

In [124]:
myTuple=(4,6,[2,8],'abc',{3,4})

In [125]:
myTuple[1]=0

TypeError: 'tuple' object does not support item assignment

In [126]:
weekDays=('Monday','Tuesday')
marks=(78,99,34,45)
dateOfBirth=(1,'October',1990)

In [128]:
weekDays*2

('Monday', 'Tuesday', 'Monday', 'Tuesday')

In [134]:
weekDays+=('Wednesday',)
print(weekDays)

('Monday', 'Tuesday', 'Wednesday', 'Wednesday', 'Wednesday')

In [135]:
len(weekDays)

5

In [136]:
yearOfBirth=dateOfBirth[-1]
print(yearOfBirth)

1990

In [137]:
weekDays[1:2]

('Tuesday',)

In [138]:
min(marks)

34

In [139]:
max(marks)

99

In [140]:
sum(marks)

256

In [141]:
'Friday' in weekDays

False

In [143]:
vowels = 'aeiou'
tuple(vowels)

('a', 'e', 'i', 'o', 'u')

In [144]:
age=(20,18,17,19,18,18)
print(age.count(18))

3

In [145]:
age.index(18)

1

In [149]:
def sortList(studentList):
    for i in range(0,len(studentList)-1):
        for j in range (0,len(studentList)-1-i):
            if studentList[j+1][1] < studentList[j][1]:
                studentList[j],studentList[j+1]=studentList[j+1],studentList[j]
    return studentList

def main():
    studentList=[]
    num=int(input('Enter the number of students:'))
    for i in range(num):
        pair=eval(input('Enter tuple <student name,marks obtained'))
        studentList.append(pair)
    sortList(studentList)
    print(studentList)

if __name__=='__main__':
    main()

Enter the number of students:4
Enter tuple <student name,marks obtained('Sheetal',99)
Enter tuple <student name,marks obtained('Ankit',100)
Enter tuple <student name,marks obtained('Arun',56)
Enter tuple <student name,marks obtained('Bhawna',89)
[('Arun', 56), ('Bhawna', 89), ('Sheetal', 99), ('Ankit', 100)]

In [150]:
def sortList(list1):
    for i in range (0,len(list1)-1):
        for j in range(0,len(list1)-1-i):
            if list[j][1] > list[j+1][i]:
                temp=list1[j][i]
                list1[j][1]=list1[j+1][1]
                list[j+1][i]=temp
    return

In [151]:
month={}
month[1]='Jan'
month[2]='Feb'
month[3]='Mar'
month[4]='Apr'
print(month)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr'}

In [154]:
price={'tomato':40,'cucumber':30}

In [155]:
price['tomato']

40

In [156]:
len(price)

2

In [157]:
del price['tomato']
print(price)

{'cucumber': 30}

In [158]:
price.clear()
print(price)

{}

In [160]:
class Person:
    count=0
    def __init__(self,name,DOB,address):
        self.name=name
        self.DOB=DOB
        self.address=address
        Person.count+=1
        
    def getName(self):
        return self.name
    
    def getDOB(self):
        return self.DOB
    
    def getAddress(self):
        return self.address
    
    def getCount(self):
        return Person.count
    
    def __str__(self):
        return 'Name:'+self.name+'\nDOB:'+str(self.DOB)\
        +'\nAddress:'+self.address

In [161]:
p1 = Person('Amir','24-10-1990','38/4, IIT Delhi 110016')
print(Person.count)

1